.bar-container {
  position: fixed;
  bottom: 0; /* Keeps it at the bottom */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.arrow {
  cursor: pointer;
  width: 40px;
  font-size: 24px;
  transition: opacity 0.4s ease, transform 0.25s ease;
  padding: 10px;
}

.input-bar {
  background-color: rgb(255, 255, 255);
  width: 53vw;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 15px;
  align-items: center;
  position: absolute;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* .input-bar {
  background-color: whitesmoke;
  width: 80vw;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 15px;
  align-items: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: opacity 0.4s ease, transform 0.4s ease;
} */

.bar-container:hover .input-bar {
  opacity: 1;
  visibility: visible;
  transform: translateY(-30px);
} /* Moves up */

.bar-container:hover .arrow {
  transform: translateY(-150px);
}

.p-colorpicker-panel {
  border-radius: 8px;
  background-color: white;
  border-style: none;
}

.font-color-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.text-colour-container {
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  box-sizing: border-box;
  padding-top: 10px;
}

.colour-text {
  font-size: 14px;
  padding-right: 8px;
  padding-left: 4px;
  font-weight: 100;
}

.pen-eraser-button-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
}

.pen-colour-p-label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 14px;
  padding-right: 10px;
  letter-spacing: 00.03cap;
  margin: 0;
}

.pen-colour-div-container {
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.pen-stroke-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
