@font-face {
  font-family: NeueMantana;
  src: url("/src/assets/Fonts/NeueMetana-Bold.otf");
}

@font-face {
  font-family: DxGlitar;
  src: url("/src/assets/Fonts/DxGlitar.ttf");
}

@font-face {
  font-family: Harmond;
  src: url("/src/assets/Fonts/Harmond.otf");
}

@font-face {
  font-family: Fraunces;
  src: url("/src/assets/Fonts/Fraunces-Italic-VariableFont.ttf");
}

@font-face {
  font-family: Obrazec;
  src: url("/src/assets/Fonts/Obrazec-2.ttf");
}

.NeueMantana {
  font-family: "NeueMantana";
}

.GillSans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.DxGlitar {
  font-family: "DxGlitar";
}
.Harmond {
  font-family: "Harmond";
}
.Fraunces {
  font-family: "Fraunces";
}
.Obrazec {
  font-family: "Obrazec";
}

.NeueMantana,
.GillSans,
.DxGlitar,
.Harmond,
.Fraunces,
.Obrazec {
  letter-spacing: 5px;
}
